<div class="jumbotron">
  <h1 class="display-4">EVENTS</h1>
  <p class="lead">Join and create ur events do what u want.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="events/index" role="button">See all events</a>
    <a class="btn btn-primary btn-lg" href="events/new" role="button">create event</a>
  </p>
</div>

<ul>
  <% if user_signed_in? %>
    <li>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </li>

    <li>
      Voici ton email : <%= current_user.email %>
    </li>

    <li>
      <%= link_to "Secret page", static_pages_secret_path %>
    </li>
    <li>
      <%= link_to "My profile",
        users_show_path %>
    </li>

  <% else %>
    <li>
      <%= link_to "Sign in", new_user_session_path %>
    </li>

    <li>
      <%= link_to "Sign up", new_user_registration_path %>
    </li>

  <% end %>
</ul>
