<html>
  <head>
    <title>Eventbrite</title>
  </head>

  <body>
   <div class="jumbotron">
    <h1 class="display-4">Profile</h1>
   </div>
   <div class='container'>
      <div class="card text-center bg-info text-white">
        <div class="card-body">
            First_name: <h5 class='card-title'><%=@user.first_name%></h5>
            Last_name: <h5 class='card-text'><%=@user.last_name%></h5>
            description: <h5 class='card-text'><%=@user.description%></h5>
            events: <h5 class='card-footer'><%=@user.events.count%></h5>
        </div>
    </div>
    <li>
      <%= link_to "Edit email / password", edit_user_registration_path %>
    </li>
    <br/><br/><br/>
    <%= link_to "Back", :back, class: "btn btn-md btn-primary btn-block" %>
  </body>
</html>
